	.block_ {
		display: block;
		line-height: 1.2;
		margin: 0 0 10pt;
		padding: 0;
	}

	.block_1 {
		display: block;
		font-family: serif;
		font-size: 0.83333em;
		line-height: 1.2;
		margin: 0 0 10pt;
		padding: 0;
	}

	.block_2 {
		display: block;
		font-family: serif;
		font-size: 0.83333em;
		line-height: 1.2;
		text-align: center;
		margin: 0 0 10pt;
		padding: 0;
	}

	.block_3 {
		color: #A6A6A6;
		display: block;
		font-family: "Segoe UI Semilight", sans-serif;
		font-size: 2em;
		line-height: 1.15;
		text-align: center;
		margin: 0 0 10pt;
		padding: 0;
	}

	.block_4 {
		display: block;
		font-family: serif;
		font-size: 0.83333em;
		margin: 0;
		padding: 0;
	}

	.block_5 {
		display: block;
		font-family: "Segoe UI Semilight", sans-serif;
		font-size: 1.66667em;
		line-height: 1.2;
		text-align: center;
		margin: 0 0 10pt;
		padding: 0;
	}

	.block_6 {
		display: block;
		font-family: "Franklin Gothic Medium", sans-serif;
		font-size: 1.66667em;
		line-height: 1.2;
		margin: 0 0 10pt;
		padding: 0;
	}

	===.block_7 {
		background-color: #0092C7;
		color: #FFF;
		display: block;
		font-family: "Segoe UI Light", sans-serif;
		font-size: 1.66667em;
		line-height: 1.2;
		page-break-after: avoid;
		text-indent: 5.65pt;
		margin: 6pt 0 12pt;
		padding: 0 0 1pt;
		border-bottom: #0092C7 solid 1.5pt;
	}

	.block_8 {
		display: block;
		font-family: serif;
		font-size: 0.83333em;
		line-height: 1.2;
		margin: 6pt 0;
		padding: 0;
	}

	.block_9 {
		display: block;
		line-height: 1.2;
		margin: 6pt 0;
		padding: 0;
	}

	.block_10 {
		display: block;
		line-height: 1.2;
		margin: 0 0 0 8pt;
		padding: 0;
	}

	.block_11 {
		display: block;
		line-height: 1.2;
		margin: 0 0 0 16pt;
		padding: 0;
	}

	.block_12 {
		display: block;
		line-height: 1.2;
		text-align: center;
		margin: 0 0 10pt;
		padding: 0;
	}

	.block_13 {
		color: #F00;
		display: block;
		line-height: 1.2;
		margin: 0 0 10pt;
		padding: 0;
	}

	.block_14 {
		color: #0092C7;
		display: block;
		font-family: "Segoe UI Light", sans-serif;
		font-size: 1.83333em;
		line-height: 1.2;
		page-break-after: avoid;
		margin: 24pt 0 6pt;
		padding: 0 0 1pt;
		border-bottom: #4E85A9 solid 1pt;
	}

	.block_15 {
		display: list-item;
		line-height: 1.2;
		margin-bottom: 0;
		margin-left: 36pt;
		padding-bottom: 0;
		padding-top: 0;
	}

	.block_16 {
		display: list-item;
		line-height: 1.2;
		margin-bottom: 0;
		margin-left: 36pt;
		margin-top: 0;
		padding-bottom: 0;
		padding-top: 0;
	}

	.block_17 {
		display: block;
		font-size: 0.625em;
		line-height: 1.2;
		margin: 0 0 0 36pt;
		padding: 0;
	}

	.block_18 {
		display: block;
		font-family: serif;
		font-size: 0.83333em;
		line-height: 1.2;
		margin: 0 0 0 36pt;
		padding: 0;
	}

	.block_19 {
		display: list-item;
		line-height: 1.2;
		margin-bottom: 0;
		margin-left: 32.2pt;
		margin-top: 0;
		padding-bottom: 0;
		padding-top: 0;
	}

	.block_20 {
		display: block;
		line-height: 1.2;
		margin: 0 0 0 53.2pt;
		padding: 0;
	}

	.block_21 {
		display: list-item;
		line-height: 1.2;
		margin-bottom: 10pt;
		margin-left: 32.2pt;
		margin-top: 0;
		padding-top: 0;
	}

	.block_22 {
		display: list-item;
		line-height: 1.2;
		margin-bottom: 0;
		margin-left: 72pt;
		margin-top: 0;
		padding-bottom: 0;
		padding-top: 0;
	}

	.block_23 {
		display: list-item;
		line-height: 1.2;
		margin-bottom: 10pt;
		margin-left: 36pt;
		margin-top: 0;
		padding-top: 0;
	}

	.block_24 {
		display: list-item;
		line-height: 1.2;
		margin-bottom: 10pt;
		margin-left: 36pt;
		margin-top: 0;
		padding-bottom: 0;
		padding-top: 0;
	}

	.block_25 {
		display: block;
		line-height: 1.2;
		margin: 0 0 10pt;
		padding: 0;
	}

	.block_26 {
		display: block;
		line-height: 1.2;
		margin: 0 0 0 36pt;
		padding: 0;
	}

	.block_27 {
		color: #FFF;
		display: block;
		font-weight: bold;
		margin: 0 0 0 36pt;
		padding: 0;
	}

	.block_28 {
		display: block;
		margin: 0 0 0 36pt;
		padding: 0;
	}

	.block_29 {
		display: block;
		font-family: serif;
		font-size: 0.83333em;
		line-height: 1.2;
		margin: 0 0 0 18pt;
		padding: 0;
	}

	.block_30 {
		display: block;
		font-family: "Segoe UI Semibold", sans-serif;
		font-size: 1.29167em;
		line-height: 1.2;
		page-break-after: avoid;
		margin: 24pt 0 8pt;
		padding: 0;
	}

	.block_31 {
		display: block;
		font-family: serif;
		font-size: 0.83333em;
		line-height: 1.2;
		margin: 0 0 10pt 36pt;
		padding: 0;
	}

	.block_32 {
		display: list-item;
		margin-bottom: 0;
		margin-left: 36pt;
		margin-top: 0;
		padding-bottom: 0;
		padding-top: 0;
	}

	.block_33 {
		display: list-item;
		margin-bottom: 0;
		margin-left: 72pt;
		margin-top: 0;
		padding-bottom: 0;
		padding-top: 0;
	}

	.block_34 {
		display: block;
		font-family: serif;
		font-size: 0.83333em;
		margin: 0 0 0 36pt;
		padding: 0;
	}

	.block_35 {
		display: list-item;
		margin-bottom: 0;
		margin-left: 36pt;
		padding-bottom: 0;
		padding-top: 0;
	}

	.block_36 {
		display: block;
		text-align: center;
		margin: 0;
		padding: 0;
	}

	.block_37 {
		background-color: #c0c0c0;
		display: block;
		font-weight: bold;
		line-height: 1.2;
		margin: 0 0 0 36pt;
		padding: 0;
	}

	.block_38 {
		display: list-item;
		line-height: 1.2;
		margin-bottom: 0;
		margin-left: 108pt;
		margin-top: 0;
		padding-bottom: 0;
		padding-top: 0;
	}

	.block_39 {
		display: list-item;
		line-height: 1.2;
		margin-bottom: 10pt;
		margin-left: 72pt;
		margin-top: 0;
		padding-bottom: 0;
		padding-top: 0;
	}

	.block_40 {
		display: block;
		line-height: 1.2;
		margin: 0 0 10pt 36pt;
		padding: 0;
	}

	.block_41 {
		display: list-item;
		line-height: 1.2;
		margin-bottom: 0;
		margin-left: 72pt;
		padding-bottom: 0;
		padding-top: 0;
	}

	.block_42 {
		display: block;
		font-family: serif;
		font-size: 0.83333em;
		line-height: 1.2;
		margin: 0 0 0 72pt;
		padding: 0;
	}

	.block_43 {
		display: block;
		font-size: 1.29167em;
		line-height: 1.2;
		margin: 0 0 10pt;
		padding: 0;
	}

	.block_44 {
		display: block;
		font-weight: bold;
		line-height: 1.2;
		margin: 0 0 10pt;
		padding: 0;
	}

	.block_45 {
		display: block;
		margin: 0;
		padding: 0;
	}

	.calibre {
		display: block;
		font-family: "Segoe UI", sans-serif;
		font-size: 1em;
		padding-left: 0;
		padding-right: 0;
		margin: 0 5pt;
	}

	.calibre1 {
		display: block;
		height: auto;
		line-height: 1.2;
		width: auto;
	}

	.calibre2 {
		display: block;
		line-height: 1.2;
	}

	.calibre3 {
		line-height: 1.2;
		text-decoration: none;
	}

	.calibre4 {
		height: 264pt;
		line-height: 1.2;
		width: 468pt;
	}

	.calibre5 {
		height: 27.1pt;
		line-height: 1.2;
		width: 469pt;
	}

	.calibre6 {
		font-weight: bold;
		line-height: 1.2;
	}

	.calibre7 {
		font-style: italic;
		line-height: 1.2;
	}

	.calibre8 {
		height: 25.5pt;
		line-height: 1.2;
		width: 130pt;
	}

	.calibre9 {
		height: 253pt;
		line-height: 1.2;
		width: 247pt;
	}

	.calibre10 {
		height: 101pt;
		line-height: 1.2;
		width: 324pt;
	}

	.calibre11 {
		height: 40.2pt;
		line-height: 1.2;
		width: 174pt;
	}

	.calibre12 {
		height: 107pt;
		line-height: 1.2;
		width: 176pt;
	}

	.calibre13 {
		height: 138pt;
		line-height: 1.2;
		width: 249pt;
	}

	.calibre14 {
		height: 78.9pt;
		line-height: 1.2;
		width: 231pt;
	}

	.calibre15 {
		height: 265pt;
		line-height: 1.2;
		width: 469pt;
	}

	.calibre16 {
		height: 98.9pt;
		line-height: 1.2;
		width: 170pt;
	}

	.calibre17 {
		height: 98.7pt;
		line-height: 1.2;
		width: 172pt;
	}

	.calibre18 {
		height: 141pt;
		line-height: 1.2;
		width: 192pt;
	}

	.calibre19 {
		height: 11.2pt;
		line-height: 1.2;
		transform: scalex(-1);
		width: 11.6pt;
	}

	.calibre20 {
		height: 11pt;
		line-height: 1.2;
		width: 9.68pt;
	}

	.calibre21 {
		height: 71pt;
		line-height: 1.2;
		width: 185pt;
	}

	.calibre22 {
		height: 144pt;
		line-height: 1.2;
		width: 369pt;
	}

	.calibre23 {
		height: 264pt;
		line-height: 1.2;
		width: 469pt;
	}

	.calibre24 {
		height: 99.5pt;
		line-height: 1.2;
		width: 169pt;
	}

	.calibre25 {
		height: 12pt;
		line-height: 1.2;
		width: 13pt;
	}

	.calibre26 {
		height: 31.4pt;
		line-height: 1.2;
		width: 202pt;
	}

	.calibre27 {
		height: 299pt;
		line-height: 1.2;
		width: 247pt;
	}

	.calibre28 {
		height: 169pt;
		line-height: 1.2;
		width: 414pt;
	}

	.calibre29 {
		height: 30.5pt;
		line-height: 1.2;
		width: 140pt;
	}

	.calibre30 {
		height: 83.2pt;
		line-height: 1.2;
		width: 318pt;
	}

	.calibre31 {
		height: 146pt;
		line-height: 1.2;
		width: 425pt;
	}

	.calibre32 {
		height: 105pt;
		line-height: 1.2;
		width: 451pt;
	}

	.calibre33 {
		height: 9pt;
		line-height: 1.2;
		width: 9.75pt;
	}

	.calibre34 {
		height: 119pt;
		line-height: 1.2;
		width: 135pt;
	}

	.calibre35 {
		height: 9.6pt;
		line-height: 1.2;
		width: 9.6pt;
	}

	.calibre36 {
		height: 125pt;
		line-height: 1.2;
		width: 114pt;
	}

	.calibre37 {
		height: 257pt;
		line-height: 1.2;
		width: 413pt;
	}

	.calibre38 {
		height: 10.5pt;
		line-height: 1.2;
		transform: scalex(-1);
		width: 10.5pt;
	}

	.calibre39 {
		height: 144pt;
		line-height: 1.2;
		width: 220pt;
	}

	.calibre40 {
		height: 81.7pt;
		line-height: 1.2;
		width: 308pt;
	}

	.calibre41 {
		height: 163pt;
		line-height: 1.2;
		width: 309pt;
	}

	.calibre42 {
		height: 87.7pt;
		line-height: 1.2;
		width: 380pt;
	}

	.calibre43 {
		height: 11.3pt;
		line-height: 1.2;
		width: 11.3pt;
	}

	.calibre44 {
		height: 112pt;
		line-height: 1.2;
		width: 110pt;
	}

	.calibre45 {
		height: 194pt;
		line-height: 1.2;
		width: 409pt;
	}

	.calibre46 {
		display: table-row-group;
		vertical-align: middle;
	}

	.calibre47 {
		display: table-row;
		vertical-align: inherit;
	}

	.calibre48 {
		height: 12pt;
		line-height: 1.2;
		width: 12.6pt;
	}

	.calibre49 {
		height: 10.9pt;
		line-height: 1.2;
		width: 10.4pt;
	}

	.calibre50 {
		height: 130pt;
		line-height: 1.2;
		width: 261pt;
	}

	.calibre51 {
		height: 189pt;
		line-height: 1.2;
		width: 125pt;
	}

	.calibre52 {
		height: 12pt;
		line-height: 1.2;
		width: 12pt;
	}

	.calibre53 {
		height: 203pt;
		line-height: 1.2;
		width: 378pt;
	}

	.calibre54 {
		height: 135pt;
		line-height: 1.2;
		width: 289pt;
	}

	.calibre55 {
		height: 20.8pt;
		line-height: 1.2;
		width: 137pt;
	}

	.calibre56 {
		height: 35.3pt;
		line-height: 1.2;
		width: 152pt;
	}

	.calibre57 {
		height: 75.5pt;
		line-height: 1.2;
		width: 108pt;
	}

	.calibre58 {
		height: 11.2pt;
		line-height: 1.2;
		width: 11.7pt;
	}

	.calibre59 {
		height: 198pt;
		line-height: 1.2;
		width: 318pt;
	}

	.calibre60 {
		height: 10.1pt;
		line-height: 1.2;
		width: 10.6pt;
	}

	.calibre61 {
		height: 149pt;
		line-height: 1.2;
		width: 275pt;
	}

	.calibre62 {
		height: 224pt;
		line-height: 1.2;
		width: 396pt;
	}

	.calibre63 {
		height: 164pt;
		line-height: 1.2;
		width: 370pt;
	}

	.calibre64 {
		height: 119pt;
		line-height: 1.2;
		width: 162pt;
	}

	.calibre65 {
		height: 60.3pt;
		line-height: 1.2;
		width: 74.1pt;
	}

	.calibre66 {
		height: 146pt;
		line-height: 1.2;
		width: 405pt;
	}

	.calibre67 {
		height: 41.5pt;
		line-height: 1.2;
		width: 181pt;
	}

	.calibre68 {
		height: 12.3pt;
		line-height: 1.2;
		transform: scalex(-1);
		width: 12.3pt;
	}

	.calibre69 {
		height: 193pt;
		line-height: 1.2;
		width: 377pt;
	}

	.calibre70 {
		height: 156pt;
		line-height: 1.2;
		width: 312pt;
	}

	.calibre71 {
		height: 36.5pt;
		line-height: 1.2;
		width: 160pt;
	}

	.calibre72 {
		font-size: 0.83333em;
		line-height: 1.2;
		vertical-align: super;
	}

	.calibre73 {
		height: 150pt;
		line-height: 1.2;
		width: 302pt;
	}

	.calibre74 {
		height: 6pt;
		line-height: 1.2;
		width: 6.6pt;
	}

	.calibre75 {
		height: 199pt;
		line-height: 1.2;
		width: 244pt;
	}

	.calibre76 {
		height: 92.5pt;
		line-height: 1.2;
		width: 410pt;
	}

	.calibre77 {
		height: 11pt;
		line-height: 1.2;
		width: 7pt;
	}

	.calibre78 {
		height: 8.75pt;
		line-height: 1.2;
		width: 10pt;
	}

	.calibre79 {
		height: 34pt;
		line-height: 1.2;
		width: 263pt;
	}

	.calibre80 {
		height: 68pt;
		line-height: 1.2;
		width: 153pt;
	}

	.calibre81 {
		height: 66.1pt;
		line-height: 1.2;
		width: 153pt;
	}

	.calibre82 {
		height: 38.8pt;
		line-height: 1.2;
		width: 304pt;
	}

	.calibre83 {
		height: 12.5pt;
		line-height: 1.2;
		transform: rotate(270deg) scaley(-1);
		width: 12.5pt;
	}

	.calibre84 {
		height: 85.3pt;
		line-height: 1.2;
		width: 179pt;
	}

	.calibre85 {
		height: 45.5pt;
		line-height: 1.2;
		width: 184pt;
	}

	.calibre86 {
		height: 10.7pt;
		line-height: 1.2;
		width: 10.7pt;
	}

	.calibre87 {
		height: 41.5pt;
		line-height: 1.2;
		width: 201pt;
	}

	.calibre88 {
		height: 243pt;
		line-height: 1.2;
		width: 430pt;
	}

	.calibre89 {
		height: 68.2pt;
		line-height: 1.2;
		width: 282pt;
	}

	.calibre90 {
		height: 73.1pt;
		line-height: 1.2;
		width: 295pt;
	}

	.calibre91 {
		height: 125pt;
		line-height: 1.2;
		width: 275pt;
	}

	.calibre92 {
		height: 85.6pt;
		line-height: 1.2;
		width: 129pt;
	}

	.calibre93 {
		height: 124pt;
		line-height: 1.2;
		width: 383pt;
	}

	.calibre94 {
		height: 103pt;
		line-height: 1.2;
		width: 182pt;
	}

	.calibre95 {
		height: 104pt;
		line-height: 1.2;
		width: 214pt;
	}

	.calibre96 {
		height: 76pt;
		line-height: 1.2;
		width: 385pt;
	}

	.calibre97 {
		height: 132pt;
		line-height: 1.2;
		width: 343pt;
	}

	.calibre98 {
		height: 52.6pt;
		line-height: 1.2;
		width: 342pt;
	}

	.calibre99 {
		height: 48.4pt;
		line-height: 1.2;
		width: 282pt;
	}

	.calibre100 {
		height: 51.2pt;
		line-height: 1.2;
		width: 276pt;
	}

	.calibre101 {
		font-style: italic;
	}

	.calibre102 {
		display: block;
	}

	.calibre103 {
		height: 230pt;
		width: 144pt;
	}

	.calibre104 {
		height: 50.3pt;
		line-height: 1.2;
		width: 181pt;
	}

	.calibre105 {
		height: 91.3pt;
		line-height: 1.2;
		width: 267pt;
	}

	.calibre106 {
		height: 58.8pt;
		line-height: 1.2;
		width: 282pt;
	}

	.calibre107 {
		height: 56.5pt;
		line-height: 1.2;
		width: 147pt;
	}

	.calibre108 {
		height: 136pt;
		line-height: 1.2;
		width: 164pt;
	}

	.calibre109 {
		height: 80.2pt;
		line-height: 1.2;
		width: 134pt;
	}

	.calibre110 {
		height: 36.9pt;
		line-height: 1.2;
		width: 94pt;
	}

	.calibre111 {
		height: 181pt;
		line-height: 1.2;
		width: 172pt;
	}

	.calibre112 {
		height: 101pt;
		line-height: 1.2;
		width: 239pt;
	}

	.calibre113 {
		height: 58.3pt;
		line-height: 1.2;
		width: 233pt;
	}

	.calibre114 {
		height: 105pt;
		line-height: 1.2;
		width: 420pt;
	}

	.calibre115 {
		height: 60.2pt;
		line-height: 1.2;
		width: 255pt;
	}

	.calibre116 {
		height: 55.3pt;
		line-height: 1.2;
		width: 298pt;
	}

	.calibre117 {
		height: 126pt;
		line-height: 1.2;
		width: 89pt;
	}

	.calibre118 {
		height: 68.6pt;
		line-height: 1.2;
		width: 136pt;
	}

	.calibre119 {
		height: 128pt;
		line-height: 1.2;
		width: 136pt;
	}

	.calibre120 {
		height: 188pt;
		line-height: 1.2;
		width: 284pt;
	}

	.calibre121 {
		height: 36.6pt;
		line-height: 1.2;
		width: 173pt;
	}

	.calibre122 {
		height: 35.5pt;
		line-height: 1.2;
		width: 127pt;
	}

	.calibre123 {
		height: 39.2pt;
		line-height: 1.2;
		width: 240pt;
	}

	.calibre124 {
		height: 45.7pt;
		line-height: 1.2;
		width: 105pt;
	}

	.calibre125 {
		height: 41.6pt;
		line-height: 1.2;
		width: 81.1pt;
	}

	.calibre126 {
		height: 121pt;
		line-height: 1.2;
		width: 150pt;
	}

	.calibre127 {
		height: 46.8pt;
		line-height: 1.2;
		width: 88.8pt;
	}

	.calibre128 {
		height: 165pt;
		line-height: 1.2;
		width: 256pt;
	}

	.calibre129 {
		height: 55.6pt;
		line-height: 1.2;
		width: 154pt;
	}

	.calibre130 {
		height: 49.5pt;
		line-height: 1.2;
		width: 146pt;
	}

	.calibre131 {
		height: 129pt;
		line-height: 1.2;
		width: 457pt;
	}

	.calibre132 {
		height: 9.18pt;
		line-height: 1.2;
		width: 9.58pt;
	}

	.calibre133 {
		height: 156pt;
		line-height: 1.2;
		width: 360pt;
	}

	.calibre134 {
		height: 218pt;
		line-height: 1.2;
		width: 392pt;
	}

	.calibre135 {
		height: 183pt;
		line-height: 1.2;
		width: 264pt;
	}

	.calibre136 {
		height: 204pt;
		line-height: 1.2;
		width: 324pt;
	}

	.calibre137 {
		height: 91.8pt;
		line-height: 1.2;
		width: 332pt;
	}

	.calibre138 {
		height: 263pt;
		line-height: 1.2;
		width: 467pt;
	}

	.calibre139 {
		font-weight: bold;
	}

	.calibre140 {
		height: 10.1pt;
		width: 10.7pt;
	}

	.calibre141 {
		height: 68.1pt;
		width: 23.1pt;
	}

	.calibre142 {
		height: 74.1pt;
		line-height: 1.2;
		width: 99.6pt;
	}

	.calibre143 {
		height: 9.5pt;
		line-height: 1.2;
		width: 12pt;
	}

	.calibre144 {
		height: 9.5pt;
		line-height: 1.2;
		width: 11.5pt;
	}

	.calibre145 {
		height: 202pt;
		line-height: 1.2;
		width: 320pt;
	}

	.calibre146 {
		height: 10.1pt;
		line-height: 1.2;
		width: 10.7pt;
	}

	.calibre147 {
		height: 75.7pt;
		line-height: 1.2;
		width: 99.7pt;
	}

	.calibre148 {
		height: 10.1pt;
		line-height: 1.2;
		width: 11.1pt;
	}

	.calibre149 {
		height: 103pt;
		line-height: 1.2;
		width: 393pt;
	}

	.calibre150 {
		height: 50pt;
		line-height: 1.2;
		width: 120pt;
	}

	.calibre151 {
		height: 159pt;
		line-height: 1.2;
		width: 186pt;
	}

	.calibre152 {
		height: 50.5pt;
		line-height: 1.2;
		width: 143pt;
	}

	.calibre153 {
		height: 9.75pt;
		line-height: 1.2;
		width: 5.25pt;
	}

	.calibre154 {
		line-height: 1.2;
		white-space: pre-wrap;
	}

	.calibre155 {
		height: 32.3pt;
		line-height: 1.2;
		width: 112pt;
	}

	.calibre156 {
		height: 78.9pt;
		line-height: 1.2;
		width: 337pt;
	}

	.calibre157 {
		height: 18.1pt;
		line-height: 1.2;
		width: 451pt;
	}

	.calibre158 {
		height: 61pt;
		line-height: 1.2;
		width: 111pt;
	}

	.calibre159 {
		height: 60.8pt;
		line-height: 1.2;
		width: 260pt;
	}

	.calibre160 {
		height: 28.9pt;
		line-height: 1.2;
		width: 89.1pt;
	}

	.calibre161 {
		height: 10pt;
		line-height: 1.2;
		width: 6.5pt;
	}

	.calibre162 {
		height: 55.1pt;
		line-height: 1.2;
		width: 210pt;
	}

	.calibre163 {
		height: 10pt;
		line-height: 1.2;
		width: 6pt;
	}

	.calibre164 {
		height: 9.73pt;
		line-height: 1.2;
		width: 10.2pt;
	}

	.calibre165 {
		height: 167pt;
		line-height: 1.2;
		width: 291pt;
	}

	.calibre166 {
		height: 45.8pt;
		line-height: 1.2;
		width: 204pt;
	}

	.calibre167 {
		height: 10.6pt;
		line-height: 1.2;
		width: 11.1pt;
	}

	.calibre168 {
		height: 218pt;
		line-height: 1.2;
		width: 305pt;
	}

	.calibre169 {
		height: 9.65pt;
		line-height: 1.2;
		width: 10.6pt;
	}

	.calibre170 {
		height: 45.7pt;
		line-height: 1.2;
		width: 131pt;
	}

	.calibre171 {
		height: 186pt;
		line-height: 1.2;
		width: 425pt;
	}

	.calibre172 {
		height: 53.4pt;
		line-height: 1.2;
		width: 125pt;
	}

	.calibre173 {
		height: 70.5pt;
		line-height: 1.2;
		width: 127pt;
	}

	.calibre174 {
		height: 9.71pt;
		line-height: 1.2;
		width: 9.71pt;
	}

	.calibre175 {
		height: 25.8pt;
		line-height: 1.2;
		width: 379pt;
	}

	.calibre176 {
		height: 52.8pt;
		line-height: 1.2;
		width: 372pt;
	}

	.calibre177 {
		height: 112pt;
		line-height: 1.2;
		width: 193pt;
	}

	.calibre178 {
		height: 12.6pt;
		line-height: 1.2;
		width: 12.6pt;
	}

	.calibre179 {
		height: 199pt;
		line-height: 1.2;
		width: 353pt;
	}

	.calibre180 {
		height: 92.9pt;
		line-height: 1.2;
		width: 268pt;
	}

	.calibre181 {
		height: 33.2pt;
		line-height: 1.2;
		width: 60pt;
	}

	.calibre182 {
		height: 13.1pt;
		line-height: 1.2;
		width: 12.3pt;
	}

	.calibre183 {
		height: 140pt;
		line-height: 1.2;
		width: 304pt;
	}

	.calibre184 {
		height: 29.6pt;
		line-height: 1.2;
		width: 105pt;
	}

	.calibre185 {
		height: 58pt;
		line-height: 1.2;
		width: 159pt;
	}

	.calibre186 {
		height: 12.5pt;
		line-height: 1.2;
		width: 12.5pt;
	}

	.calibre187 {
		height: 11.1pt;
		line-height: 1.2;
		width: 15.8pt;
	}

	.calibre188 {
		height: 9.25pt;
		line-height: 1.2;
		width: 11.5pt;
	}

	.calibre189 {
		height: 167pt;
		line-height: 1.2;
		width: 296pt;
	}

	.calibre190 {
		height: 74.1pt;
		line-height: 1.2;
		width: 53.4pt;
	}

	.calibre191 {
		height: 8.43pt;
		line-height: 1.2;
		width: 10.9pt;
	}

	.calibre192 {
		height: 114pt;
		line-height: 1.2;
		width: 192pt;
	}

	.calibre193 {
		height: 151pt;
		line-height: 1.2;
		width: 268pt;
	}

	.calibre194 {
		height: 12.5pt;
		line-height: 1.2;
		width: 9.5pt;
	}

	.calibre195 {
		height: 158pt;
		line-height: 1.2;
		width: 277pt;
	}

	.calibre196 {
		height: 41.1pt;
		line-height: 1.2;
		width: 67.6pt;
	}

	.calibre197 {
		height: 9.87pt;
		line-height: 1.2;
		width: 9.4pt;
	}

	.calibre198 {
		height: 196pt;
		line-height: 1.2;
		width: 348pt;
	}

	.calibre199 {
		height: 9.87pt;
		line-height: 1.2;
		width: 9.87pt;
	}

	.calibre200 {
		height: 132pt;
		line-height: 1.2;
		width: 115pt;
	}

	.calibre201 {
		height: 188pt;
		line-height: 1.2;
		width: 333pt;
	}

	.calibre202 {
		height: 68.9pt;
		line-height: 1.2;
		width: 80pt;
	}

	.calibre203 {
		height: 11.6pt;
		line-height: 1.2;
		width: 12.1pt;
	}

	.calibre204 {
		height: 120pt;
		line-height: 1.2;
		width: 430pt;
	}

	.calibre205 {
		height: 112pt;
		line-height: 1.2;
		width: 277pt;
	}

	.calibre206 {
		height: 72.2pt;
		line-height: 1.2;
		width: 418pt;
	}

	.calibre207 {
		height: 174pt;
		line-height: 1.2;
		width: 308pt;
	}

	.calibre208 {
		height: 244pt;
		line-height: 1.2;
		width: 195pt;
	}

	.calibre209 {
		height: 250pt;
		line-height: 1.2;
		width: 113pt;
	}

	.calibre210 {
		height: 66.6pt;
		line-height: 1.2;
		width: 321pt;
	}

	.calibre211 {
		height: 8.18pt;
		line-height: 1.2;
		width: 9pt;
	}

	.calibre212 {
		height: 73.5pt;
		width: 124pt;
	}

	.calibre213 {
		height: 33.5pt;
		width: 33.5pt;
	}

	.calibre214 {
		height: 20.9pt;
		line-height: 1.2;
		width: 468pt;
	}

	.calibre215 {
		height: 10.4pt;
		line-height: 1.2;
		width: 10.4pt;
	}

	.calibre216 {
		height: 13.2pt;
		line-height: 1.2;
		width: 12pt;
	}

	.calibre217 {
		height: 38.2pt;
		line-height: 1.2;
		width: 141pt;
	}

	.calibre218 {
		height: 129pt;
		width: 81.1pt;
	}

	.calibre219 {
		height: 111pt;
		width: 81.9pt;
	}

	.calibre220 {
		height: 174pt;
		line-height: 1.2;
		width: 307pt;
	}

	.calibre221 {
		height: 139pt;
		line-height: 1.2;
		width: 293pt;
	}

	.calibre222 {
		height: 51.5pt;
		line-height: 1.2;
		width: 428pt;
	}

	.calibre223 {
		height: 24pt;
		line-height: 1.2;
		width: 267pt;
	}

	.calibre224 {
		height: 179pt;
		line-height: 1.2;
		width: 322pt;
	}

	.calibre225 {
		height: 90.1pt;
		line-height: 1.2;
		width: 153pt;
	}

	.calibre226 {
		height: 35pt;
		line-height: 1.2;
		width: 225pt;
	}

	.calibre227 {
		height: 37pt;
		line-height: 1.2;
		width: 162pt;
	}

	.calibre228 {
		height: 118pt;
		line-height: 1.2;
		width: 117pt;
	}

	.calibre229 {
		height: 14.2pt;
		line-height: 1.2;
		transform: scalex(-1);
		width: 15.7pt;
	}

	.calibre230 {
		height: 193pt;
		line-height: 1.2;
		width: 419pt;
	}

	.calibre231 {
		height: 88.8pt;
		line-height: 1.2;
		width: 182pt;
	}

	.calibre232 {
		height: 28pt;
		line-height: 1.2;
		width: 201pt;
	}

	.calibre233 {
		height: 54.2pt;
		line-height: 1.2;
		width: 342pt;
	}

	.calibre234 {
		height: 19.5pt;
		line-height: 1.2;
		width: 359pt;
	}

	.calibre235 {
		height: 62.2pt;
		line-height: 1.2;
		width: 256pt;
	}

	.calibre236 {
		height: 11.1pt;
		line-height: 1.2;
		width: 11.1pt;
	}

	.calibre237 {
		height: 78.3pt;
		line-height: 1.2;
		width: 168pt;
	}

	.calibre238 {
		height: 71.1pt;
		width: 139pt;
	}

	.calibre239 {
		height: 106pt;
		line-height: 1.2;
		width: 413pt;
	}

	.calibre240 {
		height: 156pt;
		line-height: 1.2;
		width: 127pt;
	}

	.calibre241 {
		height: 55pt;
		line-height: 1.2;
		width: 148pt;
	}

	.calibre242 {
		height: 64.6pt;
		line-height: 1.2;
		width: 418pt;
	}

	.calibre243 {
		height: 134pt;
		line-height: 1.2;
		width: 314pt;
	}

	.calibre244 {
		height: 109pt;
		line-height: 1.2;
		width: 337pt;
	}

	.calibre245 {
		height: 206pt;
		line-height: 1.2;
		width: 243pt;
	}

	.calibre246 {
		height: 57.6pt;
		line-height: 1.2;
		width: 345pt;
	}

	.calibre247 {
		height: 179pt;
		line-height: 1.2;
		width: 275pt;
	}

	.calibre248 {
		height: 208pt;
		line-height: 1.2;
		width: 410pt;
	}

	.calibre249 {
		height: 44.4pt;
		line-height: 1.2;
		width: 408pt;
	}

	.calibre250 {
		height: 93pt;
		width: 93pt;
	}

	.calibre251 {
		height: 71pt;
		width: 329pt;
	}

	.calibre252 {
		height: 17.9pt;
		line-height: 1.2;
		width: 451pt;
	}

	.list_ {
		display: block;
		list-style-type: decimal;
		margin-bottom: 0;
		margin-right: 0;
		margin-top: 0;
		padding-bottom: 0;
		padding-right: 0;
		padding-top: 0;
	}

	.list_1 {
		display: block;
		list-style-type: lower-alpha;
		margin-bottom: 0;
		margin-right: 0;
		margin-top: 0;
		padding-bottom: 0;
		padding-right: 0;
		padding-top: 0;
	}

	.list_2 {
		display: block;
		list-style-type: lower-roman;
		margin-bottom: 0;
		margin-right: 0;
		margin-top: 0;
		padding-bottom: 0;
		padding-right: 0;
		padding-top: 0;
	}

	.list_3 {
		display: block;
		list-style-type: disc;
		margin-bottom: 0;
		margin-right: 0;
		margin-top: 0;
		padding-bottom: 0;
		padding-right: 0;
		padding-top: 0;
	}

	.table_ {
		border-collapse: collapse;
		border-spacing: 2px;
		display: table;
		margin-bottom: 0;
		margin-left: 66.3pt;
		margin-top: 0;
		text-indent: 0;
		padding: 0;
		border: #666 solid 1pt;
	}

	.table_1 {
		border-collapse: collapse;
		border-spacing: 2px;
		display: table;
		margin-bottom: 0;
		margin-left: -5.65pt;
		margin-top: 0;
		text-indent: 0;
		padding: 0;
		border: currentColor none 1pt;
	}

	.table_2 {
		border-collapse: collapse;
		border-spacing: 2px;
		display: table;
		margin-bottom: 0;
		margin-left: 36pt;
		margin-top: 0;
		text-indent: 0;
		padding: 0;
		border: currentColor none 1pt;
	}

	.table_3 {
		border-collapse: collapse;
		border-spacing: 2px;
		display: table;
		margin-bottom: 0;
		margin-left: 0;
		margin-top: 0;
		text-indent: 0;
		padding: 0;
		border: currentColor none 1pt;
	}

	.td_ {
		background-color: #000;
		display: table-cell;
		text-align: inherit;
		vertical-align: top;
		width: 97.8pt;
		padding: 0;
		border: #000 solid 1pt;
	}

	.td_1 {
		background-color: #000;
		display: table-cell;
		text-align: inherit;
		vertical-align: top;
		width: 87.2pt;
		padding: 0;
		border: #000 solid 1pt;
	}

	.td_2 {
		background-color: #CCC;
		display: table-cell;
		text-align: inherit;
		vertical-align: top;
		width: 97.8pt;
		padding: 0.5ex 5.4pt;
		border-top: #666 solid 1pt;
		border-right: #666 solid 1pt;
		border-bottom: #666 solid 1pt;
	}

	.td_3 {
		background-color: #CCC;
		display: table-cell;
		text-align: inherit;
		vertical-align: top;
		width: 87.2pt;
		padding: 0.5ex 5.4pt;
		border-top: #666 solid 1pt;
		border-bottom: #666 solid 1pt;
		border-left: #666 solid 1pt;
	}

	.td_4 {
		display: table-cell;
		text-align: inherit;
		vertical-align: top;
		width: 97.8pt;
		padding: 0.5ex 5.4pt;
		border-top: #666 solid 1pt;
		border-right: #666 solid 1pt;
		border-bottom: #666 solid 1pt;
	}

	.td_5 {
		display: table-cell;
		text-align: inherit;
		vertical-align: top;
		width: 87.2pt;
		padding: 0.5ex 5.4pt;
		border-top: #666 solid 1pt;
		border-bottom: #666 solid 1pt;
		border-left: #666 solid 1pt;
	}

	.td_6 {
		background-color: #CCC;
		display: table-cell;
		text-align: inherit;
		vertical-align: top;
		width: 97.8pt;
		padding: 0.5ex 5.4pt;
		border-top: #666 solid 1pt;
		border-right: #666 solid 1pt;
	}

	.td_7 {
		background-color: #CCC;
		display: table-cell;
		text-align: inherit;
		vertical-align: top;
		width: 87.2pt;
		padding: 0.5ex 5.4pt;
		border-top: #666 solid 1pt;
		border-left: #666 solid 1pt;
	}

	.td_8 {
		display: table-cell;
		text-align: inherit;
		vertical-align: top;
		width: 97.8pt;
		padding: 0.5ex 5.4pt;
		border-top: #666 solid 1pt;
		border-right: #666 solid 1pt;
	}

	.td_9 {
		display: table-cell;
		text-align: inherit;
		vertical-align: top;
		width: 87.2pt;
		padding: 0.5ex 5.4pt;
		border-top: #666 solid 1pt;
		border-left: #666 solid 1pt;
	}

	.td_10 {
		display: table-cell;
		text-align: inherit;
		vertical-align: top;
		width: 214pt;
		padding: 0.5ex 5.4pt;
		border-right: currentColor none 1pt;
	}

	.td_11 {
		display: table-cell;
		text-align: inherit;
		vertical-align: top;
		width: 218pt;
		padding: 0.5ex 5.4pt;
		border-left: currentColor none 1pt;
	}

	.td_12 {
		display: table-cell;
		text-align: inherit;
		vertical-align: top;
		width: 416pt;
		padding: 0.5ex 5.4pt;
		border-right: currentColor none 1pt;
	}

	.td_13 {
		display: table-cell;
		text-align: inherit;
		vertical-align: top;
		width: 35.2pt;
		padding: 0.5ex 5.4pt;
		border-left: currentColor none 1pt;
	}

	.td_14 {
		display: table-cell;
		text-align: inherit;
		vertical-align: top;
		width: 98.5pt;
		padding: 0.5ex 5.4pt;
		border-right: currentColor none 1pt;
	}

	.td_15 {
		display: table-cell;
		text-align: inherit;
		vertical-align: top;
		width: 316pt;
		padding: 0.5ex 5.4pt;
		border-left: currentColor none 1pt;
	}

	.td_16 {
		display: table-cell;
		text-align: inherit;
		vertical-align: top;
		width: 113pt;
		padding: 0.5ex 5.4pt;
		border-right: currentColor none 1pt;
	}

	.td_17 {
		display: table-cell;
		text-align: inherit;
		vertical-align: top;
		width: 319pt;
		padding: 0.5ex 5.4pt;
		border-left: currentColor none 1pt;
	}

	.td_18 {
		display: table-cell;
		text-align: inherit;
		vertical-align: top;
		width: 308pt;
		padding: 0.5ex 5.4pt;
		border-right: currentColor none 1pt;
	}

	.td_19 {
		display: table-cell;
		text-align: inherit;
		vertical-align: top;
		width: 143pt;
		padding: 0.5ex 5.4pt;
		border-left: currentColor none 1pt;
	}

	.td_20 {
		display: table-cell;
		text-align: inherit;
		vertical-align: top;
		width: 91.9pt;
		padding: 0.5ex 5.4pt;
		border-right: currentColor none 1pt;
	}

	.td_21 {
		display: table-cell;
		text-align: inherit;
		vertical-align: top;
		width: 359pt;
		padding: 0.5ex 5.4pt;
		border-left: currentColor none 1pt;
	}

	.text_ {
		font-family: "Segoe UI", sans-serif;
		font-size: 1.2em;
		line-height: 1.2;
		text-transform: uppercase;
	}

	.text_1 {
		font-family: "Franklin Gothic Medium", sans-serif;
		font-size: 2em;
		line-height: 1.2;
		text-transform: uppercase;
	}

	.text_2 {
		font-family: "Franklin Gothic Medium", sans-serif;
		font-size: 2em;
		font-weight: bold;
		line-height: 1.2;
		text-transform: uppercase;
	}

	.text_3 {
		color: #00F;
		font-family: "Segoe UI", sans-serif;
		font-size: 1.2em;
		line-height: 1.2;
		text-decoration: underline;
		text-transform: uppercase;
	}

	.text_4 {
		color: #00F;
		line-height: 1.2;
		text-decoration: underline;
		text-transform: uppercase;
	}

	.text_5 {
		color: #00F;
		font-variant: small-caps;
		line-height: 1.2;
		text-decoration: underline;
	}

	.text_6 {
		color: #00F;
		font-style: italic;
		line-height: 1.2;
		text-decoration: underline;
	}

	.text_7 {
		color: #00F;
		line-height: 1.2;
		text-decoration: underline;
	}

	.text_8 {
		font-weight: bold;
		line-height: 1.2;
		text-decoration: underline;
	}

	.text_9 {
		font-style: italic;
		font-weight: bold;
		line-height: 1.2;
	}

	.text_10 {
		color: #F00;
		line-height: 1.2;
	}

	.text_11 {
		color: #F00;
		font-weight: bold;
		line-height: 1.2;
	}

	.text_12 {
		background-color: #c0c0c0;
		font-weight: bold;
		line-height: 1.2;
	}

	.text_13 {
		background-color: #c0c0c0;
		line-height: 1.2;
	}

	.text_14 {
		color: #808080;
		line-height: 1.2;
	}